<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118099.26233462324!2d87.19245848550501!3d22.330889053975454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d44143b5c99a1%3A0xf37ae5b844180ec4!2sKharagpur%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1672943772143!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>